# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache

# venv
venv/
.venv/

# vscode
.vscode/
# idea
.idea/**


# pip install
build
/dist
*.egg-info

# hide map yaml with secrets
map.yaml