# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache

# venv
venv/
.venv/

# vscode
.vscode/
# idea
.idea/**


*.yaml

# pip install
build
/dist
*.egg-info